.auth{
  color: #262626;
  background-color: white;
  position: relative;
  min-height: 450px;
  max-width: 300px;
  margin: 60px auto;
  margin-bottom: 0;
  border: 1px solid lightgrey;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 3px 3px 6px lightgrey;
}

.auth__subtitle{
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.auth__logo {
  width: 100%;
  height: 10%;
}

.auth form{
  margin-top: 20px;
  margin-bottom: 50px;

}

.auth__footer{
  position: absolute;
  font-style: italic;
  bottom: 0px;
  left: 45px;
}
.auth__footer a{
  color: #29A5DB;
  text-decoration: none;
}

