.header__access__user--image{
  border: none;
}
.header__access__user--image img{
  width: 100%;
  height: 100%;
}
.header__access--home svg{
  height: 40px;
  width: 40px;
}
.header__access--home svg path{
  fill: black;
}
.main {
  margin-top: 95px;
}

.post-card{
  margin: 0 auto;
  width: 40%;
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin-bottom: 50px;
}

.post-card--header{
  display: flex;
  align-items: center;
  color: grey;
  font-weight: bold;
  font-style: italic;
  border-bottom: 1px solid lightgrey;
}

.post-card--header img{
  width: 40px;
  height: 40px;
  margin-left: 10px;
  margin-right: 5px;
  border-radius: 50%;
}
.post-card--img{
  width: 100%;
  height: 38em;
  border-bottom: 1px solid lightgrey;
}
.post-card--footer-img {
  padding-left: 10px;
}
.post-card--footer-img a > img{
  width: 30px;
  margin-right: 10px;
  cursor: pointer;
}
.post-card--footer-img > p{
  margin-top: 2px;
  font-style: italic;
  font-size: 14px;
  color: goldenrod;
}
.post-card--description{
  margin: 0 10px;
}

.post-card--description h4{
  margin-bottom: 0;
  color: grey;
  font-weight: bold;
}
.post-card--description p{
  margin-top: 10px;
  font-weight: 300;
}
.post-card--description strong{
  color: grey;
  font-weight: 500;
}

.post-card--comments{
  margin: 0 10px;
}
.post-card--comments h4{
  margin-bottom: 0;
  color: grey;
  font-weight: bold;
}
.post-card--comments a{
  text-decoration: none;
  font-style: italic;
  font-weight: lighter;
  font-size: 12px;
  cursor: pointer;
  color: black;
}
.post-card--comments a:hover{
  text-decoration: underline;
}
.post-card--comments div > p{
  margin-top: 10px;
  font-weight: 300;
}
.post-card--comments div > p > strong{
  color: grey;
  font-weight: 500;
}
.post-card--add-comment{
  margin:10px;
  display: flex;
  align-items: flex-end;
  color: #29A5DB;;
}
.post-card--add-comment input{
  border-bottom: 1px solid lightgrey;
  color: black;
  font-weight: 300;
}
.post-card--add-comment input::placeholder{
  font-weight: lighter;
}
.post-card--add-comment a{
  cursor: pointer;
}