.info{
  display: flex;
  align-items: center;
  margin: 95px 20% 20px 20%;
}
.info img {
  height: 180px;
  width: 180px;
  border-radius: 50%;
  overflow: hidden;
  line-height: 180px;
  text-align: center;
  margin-right: 30px;
}

.info__user-name{
  display: flex;
  align-items: center;
}

.info__user-name p{
  margin: 0;
  margin-right: 30px;
  color: grey;
  font-weight: 700;
  font-size: 35px;
}
.info__user-name button{
  margin-top: 5px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: whitesmoke;
  color: rgb(105, 105, 105);
  font-family: roboto;
  outline: none;
  cursor: pointer;
}
.info__user-name button:hover{
  background-color: rgb(59, 180, 255);
  color: whitesmoke;
}
.info__user-name button:active{
  box-shadow: 0px 0px 6px  rgb(59, 180, 255);
}
.info__posts{
  color: grey;
  font-size: 14px;
  font-style: italic;
}
.info__name{
  margin-top: 30px;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  color: grey;
}

.info__biography{
  color: grey;
  margin-top: 8px;
}

.posts{
  margin: 50px 20% 10px 20%;
}
.posts__header{
  display: flex;
  align-items: center;
  margin-bottom: 3%;
}
.posts__header h4{
  color: grey;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  margin-right: 10px;
}

.posts__header svg{
  width: 40px;
  height: 40px;
  cursor: pointer;
  stroke:none;
  fill-rule:nonzero;
  fill:rgb(40%,40%,40%);
  fill-opacity:1;
}
.posts__header svg:hover {
  background-color: whitesmoke;
  fill: rgb(59, 180, 255);
  border-radius: 50%;
}
.post{
  position: relative;
}

.post a img{
  width: 250px;
  height: 260px;
  border-radius: 5px;
  margin-bottom: 25px;
  border: 1px solid lightgray;
  cursor: pointer;
}

.post__options{
  border-radius: 3px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  width: 100%;
  height: 9%;
  top: 80%;
  left: 2px;
  right: 0;
  bottom: 0;
  transform: all 3s;
  text-align: center;
}

.post__options a img{
  margin: 3px 10px 0px 10px;
  width: 20px;
  border: none;
  height: 20px;
  cursor: pointer;
}
.post:hover > div{
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
}