@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.header{
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  height: 80px;
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
  box-shadow: 0px 3px 6px lightgrey;
  align-items: center;
}
.header__hero img{
  width: 150px;
}

.header__access{
  display: flex;
  align-items: center;
}

.header__access--home{
  margin-right: 20px;
}
.header__access--home img{
  width: 35px;
}
.header__access__user {
  margin-right: 10px;
}
.header__access__user > div{
  display: flex;
  align-items: center;
}
.header__access__user  p{
  margin: 0;
}
.header__access__user > ul{
  text-align: center;
  display: none;
  line-height: 20px;
  text-decoration: none;
  margin: 0;
  margin-top: -10px;
  list-style-type: none;
}
.header__access__user > ul a{
  text-decoration: none;
  color: grey;
} 
.header__access__user > ul> li a:hover{
  text-decoration: underline;
  Color:lightskyblue;
  cursor: pointer;
}
.header__access__user:hover > ul {
  display: block;
}
.header__access__user--image{
  border: 1px solid #29A5DB;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 5px;
  text-align: center;
  line-height: 67px;
}

.header__access__user--image img{
  background-color: maroon;
  border-radius: 50%;
  width: 90%;
  height: 90%;
}
.header__access__user p {
  color: grey;
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
}

.container__form__input{
  margin-bottom: 30px;
}
.form__input{
  padding: 10px 3px 3px 3px;
  display: block;
  border: none;
  color: grey;
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid lightgrey;
  width: 97%;
}

.form__input::placeholder{
  font-weight: bold;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

.form__input:focus{
  border: none;
  outline: none;
  border-bottom: 2px solid lightskyblue;
}

.form__btn{
  border: none;
  width: 100%;
  height: 30px;
  background-color: #29A5DB;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
.form__btn:focus{
  outline: none;
}
.form__btn:active{
  box-shadow: 0px 0px 6px #29A5DB;
}

.form__error{
  font-size: small;
  color:red;
}

.form__error p{
  margin-top: 5px;
  margin-bottom: 5px;
}

.modal{
  position: fixed;
  z-index: 1;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  transition: all 0.3s;
  overflow: hidden;
  opacity: 0;
}
.modal-content{
  background-color: white;
  margin: 10% auto;
  width: 30%;
  padding: 20px;
  border-radius: 5px;
}

.modal-close{
  float: right;
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}
.modal-content--title{
  color:rgba(82, 82, 82, 0.87);
  font-size: 20px;
  font-weight: 700;
}
